/*******************************************************
GENERAUX
*******************************************************/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-image: url();
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*******************************************************
EN TETE
*******************************************************/

.header-site {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.header-title {
    color: rgba(255, 255, 255, 1);
    margin: 30px;
    width: 33%;
}

.header-nav {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    transform: translate(-100%, -100%);
    top: 100%;
    left: 98%;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list-item {
    margin: 10px;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 20px;
    padding: 10px;
}

.nav-list-item-link {
    color: rgba(255, 255, 255, 1);
}

/*******************************************************
CORPS
*******************************************************/

main {
    width: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    height: 60vh;
}

/*******************************************************
FOOTER
*******************************************************/

.footer-site {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
}

.copyright-site {
    margin: 10px;
}